<ion-content [fullscreen]="true">
  <!-- <div class="container splash-logo" [ngClass]="!startTransitionOut ? 'rotate-in-center' : 'swirl-out-bck'">
    <img src="assets/splash/relevamiento_visual_splash_animated.png">
  </div> -->
  <div class="container fade-out">
    
  </div>
  <!-- <div class="container2">
    <img class="splash-gif fade-out" src="assets/splash/relevamiento_visual_splash_animated_slim.gif">
  </div> -->
    <!-- <img class="splash-gif fade-out" src="assets/splash/relevamiento_visual_splash_animated_slim.gif"> -->
</ion-content>
